body {
    /* margin: 2rem; */
    display: flex;
    flex-direction: column;
}

.span {
    display: flex;
    flex-direction: column;
    
}

tr {
    text-align: center;
}

.scheduleItem {
    /* background-color: rgb(17, 8, 148); */
    background-color: #140e39 !important;
    color: white;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    padding: 1rem;
    /* box-shadow: 2px 2px red; */
    box-shadow: 0 0 7px 0 red, 0 1px 1px 0 red;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

table {
    table-layout: fixed;
    width: 100%;
}

td{
    width: 25%;
    height: 12rem;
}

.available{
    /* box-shadow: 5px 5px rgb(0, 255, 13); */
    box-shadow: 0 0 7px 0 rgba(0, 255, 13), 0 1px 1px 0 rgba(0, 255, 13);
}

.tecbackgroundcolor{
    background-color: #140e39 !important;
}

.logoTEC{
    width: 100%;
    display: flex;
    justify-content: flex-end
}